#content .content_area {
  width: 100%;
  overflow: hidden;
}

#content .content_area .content_top {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto 200px;
}

#content .content_area .content_top .content_box.num01 {
  width: 436px;
  height: 500px;
  border: 2px solid #3366cc;
}
#content .content_area .content_top .content_box.num02 {
  width: 436px;
  height: 500px;
  border: 2px solid #99cc00;
}
#content .content_area .content_top .content_box.num03 {
  width: 436px;
  height: 500px;
  border: 2px solid #e48d35;
}

#content .content_area .content_top .content_box dl {
  text-align: center;
}

#content .content_area .content_top .content_box dt {
  font-size: 3rem;
  font-weight: 600;
  color: #3366cc;
  margin-top: 50px;
}

#content .content_area .content_top .content_box dd img {
  margin-top: 70px;
}

#content .content_area .content_top .content_box .con_txt {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 600;
}

#content .content_area .content_top .content_box .con_txt span {
  color: #3366cc;
}

#content .content_area .content_top .content_box.num02 dd img {
  width: 140px;
  height: 150px;
}

#content .content_area .content_top .content_box.num03 dd img {
  width: 150px;
  height: 150px;
}
.s-contents {
  width: 2000px;
  margin: 0 auto;
}

.s-contents .s-inner {
  width: 2000px;
}

.s-contents .s-inner .skill_nav ul {
  display: flex;
  justify-content: center;
  width: 2000px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.s-contents .s-inner .skill_nav ul li {
  position: relative;
}

.s-contents .s-inner .skill_nav ul a {
  width: 400px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}

/* .s-contents .s-inner .skill_link li a:hover {
  transition: transform 0.3s;
  color: #04b084;
} */
/* .s-contents .s-inner .skill_nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  color: #04b084;
  width: 0;
}
.s-contents .s-inner .skill_nav ul li a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 400px;
  height: 1px;
  background-color: #04b084;
} */

.s-contents .s-inner .skill_nav ul a:hover {
  color: #04b084;
}

.s-contents .s-inner .skill_nav ul .active {
  color: #04b084;
}

.s-contents .s-inner .skill_nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 98%;
  width: 400px;
  height: 2px;
  color: #04b084;
  background-color: #04b084;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.s-contents .s-inner .skill_nav ul li a.active::after {
  content: "";
  transform: scaleX(1);
  color: #04b084;
}

.s-contents .s-inner .items_wrap {
  position: relative;
  width: 2000px;
  height: 2200px;
  margin: 100px auto 0;
}

.s-contents .s-inner .items > .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  visibility: hidden;
  transition: visibility 0s, opacity ease;
}

.s-contents .s-inner .items > .item.on {
  visibility: visible;
  opacity: 1;
  transition: opacity ease;
}

.s-contents .s-inner .items .bg {
  width: 2000px;
  margin-bottom: 100px;
}
.desc {
  width: 1400px;
  margin: 0 auto;
  border-top: 1px solid #000;
}

.desc ul li {
  width: 1400px;
  height: 420px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: #ccc 1px solid;
}

.desc .welfare_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.desc .welfare_icon img {
  width: 100px;
  height: 100px;
}

.desc .welfare_icon p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 30px;
}

.desc .welfare_txt {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  width: 1000px;
  line-height: 2.1;
}
